<!-- login  -->

<div class=" container-fluid col-lg-5 mt-5 mb-5 bg-light">
    <div class="border-0">
        <div class=" bg-secondary text-center p-4">
            <h1 class="text-white m-0">Admin Login</h1>
            <h6 style="color: red;">{{ message }}</h6>
        </div>
        <div class="rounded-bottom p-5">
            <form [formGroup]="formdata" (ngSubmit)="submit(formdata.value)">
                <div class="form-group">
                    <input type="text" class="form-control border-0 p-4" placeholder="Username"
                        formControlName="username" />
                    <span *ngIf="!formdata.controls.username.valid && formdata.controls.username.touched"
                        class="text-danger">Please Enter username</span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control border-0 p-4" placeholder="Password"
                        formControlName="password" />

                    <span *ngIf="!formdata.controls.password.valid && formdata.controls.password.touched"
                        class="text-danger">Please Enter password</span>

                </div>
                <div>
                    <button [disabled]="!formdata.valid" class="btn btn-danger btn-block border-0 py-3" type="submit">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- login -->